#main_nav {
    margin: 2% auto 2% auto;
    width: 30%;
    background-color: aqua;
    border: 10px solid black;
}

#main_nav li {
    list-style: none;
    margin: 10px auto 10px auto;
    background-color: sienna;
    border: 5px solid silver;
}

#landing_text p {
    font-size: 1.3em;
    margin: 2% auto 2% auto;
    text-align: justify;
    width: 30%;
}