* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #424874;
}
#homepage img {
    display: block;
    width: 15%;
    margin: 4% auto 3% auto;
}

#homepage h2 {
    color: #b9e3c6;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2%  
}

#landing_text {
    

}


